html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(210, 210, 210);
  font-family: 'Cabin', sans-serif;
}

button {
  font-family: 'Hind Siliguri', sans-serif;
}

input, textarea {
  font-family: 'Hind Siliguri', sans-serif;
  border: 1px solid black;
  border-radius: 3px;
}

h2 {
  font-size: 3vw;
}

ul {
  list-style-type: none;
}

input.search-input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 50px 80px;
}

input.search-input:focus  {
  border: 3px solid rgb(236, 28, 128);
  box-shadow: 7px 7px 5px 0px rgba(236, 28, 128, 0.75);
  margin: 43px 78px;
}

.App {
  padding: 20px;
}

.navbar { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: black;
  color: white; 
}

.profile-img {
  border-radius: 50%;
  border: 7px solid rgb(236, 28, 128);
  width: 80px;
  height: 80px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.home-btn {
  color: rgb(236, 28, 128);
  text-decoration: none;
}

.home-btn:hover {
  color: white;
}

.band-card {
  background-color: black;
  color: white;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
}

.band-card:hover {
  border: 4px solid rgb(236, 28, 128);
  box-shadow: 7px 7px 5px 0px rgba(236, 28, 128, 0.75);
  margin: 18px 18px;
}

.search-results {
  margin: 0 5vw 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.add-form {
  padding: 50px 0;
}

.post-gig-form {
  margin: 0 0 50px 0;
}

.yes-btn {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 40px;
	border-radius: 5px;
	line-height: 2.5rem;
	font-weight: bold;
	
	border: 1px solid black;
	background-image: linear-gradient(-180deg, #FF89D6 0%, rgb(236, 28, 128));
	box-shadow: 0 1rem 1.25rem 0 black,
							0 -0.25rem 1.5rem  rgb(236, 28, 128) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset; 
}

.yes-btn::before {
	content: "";
	display: block;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.yes-btn::after {
	content: "";
	display: block;
	position: absolute;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.no-btn {
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 40px;
	border-radius: 5px;
	line-height: 2.5rem;
	font-weight: bold;
	
	border: 1px solid black;
  background-image: linear-gradient(-180deg,  rgba(255,255,255, 0.4)0%,gray);
	box-shadow: 0 1rem 1.25rem 0 black,
							0 -0.25rem 1.5rem slategray inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 slateblue inset; 
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gig-card {
  width: 250px;
  margin: 35px 50px 50px 25px;
  text-align: center;
  border-radius: 7px;  
}

.gig-card button {
  margin-top: 30px;
}

.gig-card h3 {
  margin-bottom: 10px;
}

.sticky-note {
  width: 350px;
  height: 339px;
  margin: 50px 0;
  background-image: url("https://res.cloudinary.com/dzzmsb8wl/image/upload/v1608129373/km-zero-bands-storage/SN5_bqfjrg.png");
  background-repeat: no-repeat;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.5vw;
  line-height: 0.8em;
}

.gig-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.medialinks {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.custom-pl-flag {
  background-color: rgba(236, 28, 128, 0.6);
  padding: 10px;
}

.auth-form input:focus {
  border: 3px solid rgb(236, 28, 128);
  box-shadow: 7px 7px 5px 0px rgba(236, 28, 128, 0.75);
}

.auth-form button {
  margin: 50px 0;
}

.gig-plain-card {
  font-family: 'Cabin', sans-serif;
  font-size: 1vw;
  line-height: 1em;
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.msg-card {
  border: 1px solid black;
  border-radius: 7px;
  width: 150px;
  margin: 10px;
}

.edit-gig {
  font-family: 'Cabin', sans-serif;
  font-size: 1vw;
}

#my-profile-page h2 {
  text-align: center;
}







#nav-links h2 {
  margin: 0 50px;
}

#band-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#band-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 1em;
}

#update-band-form input {
  margin: 10px 0;
}

#update-band-form button {
  margin: 30px 0;
}

#left-profile-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}




